# Audio
librosa==0.10.2
soundfile==0.12.1

# Cálculo numérico
numpy==1.26.4
scipy==1.13.0

# Visualización
matplotlib==3.8.4
seaborn==0.13.2

# Notebooks
jupyter==1.0.0
jupyterlab==4.1.6
ipywidgets==8.1.2

# Utilidades
tqdm==4.66.2
